# Ignore node_modules and logs
**/node_modules/
**/logs
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build files
**/dist
**/build

# IDE settings
.vscode/
.idea/

# Optional cache folders
**/.cache
**/.next
